html {
  -webkit-app-region: drag;
  background-color: #2a2e36;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: #eceeee;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h4 {
  color: #cbcbcb;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.wrapper {
  margin-top: 45px;
  text-align: center;
}

.logo {
  width: 130px;
  height: 130px;
  margin: 25px 0 35px 0;
  animation: scale 1s ease-in-out infinite alternate;
}

.progress {
  width: 220px;
  height: 10px;
  border-radius: 5px;
  background-color: #727cf5;
}

.progress__bar {
  width: 0%;
  height: 10px;
  border-radius: 5px;
  background-color: #4c51ec;
  transition: all 0.5s;
}

.btn {
  padding: 10px 24px;
  font-size: 16px;
  text-transform: none;
  color: #ffffff;
  background-color: #727cf5;
  border-radius: 15px;
  border: unset;
  transition: all 0.3s ease-in;
  -webkit-app-region: no-drag;
  outline-width: 0;
}

.btn:hover {
  background-color: #4c51ec;
  cursor: pointer;
}

#progress {
  display: none;
}

#launch {
  display: none;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}
