.box__hovered {
    width: 30%;
    min-height: 250px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3% 5% 2%;
    text-align: center;
    margin: auto;
    outline: none;
    border: none;
    cursor:pointer;
    box-shadow: -1px 3px 5px#b4bed6;

    .box-img {
        width: 50%;
        margin: 0 auto;
    }

    .box-heading {
        margin: 0 auto;
    }

    hr {
        width: 100%;
        height: 1px;
        background: black;
        outline: none;
        border: none;
        margin: 10px 0;
    }
}

.box__notHovered {
    width: 30%;
    height: 250px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3% 5% 2%;
    text-align: center;
    margin: auto;
    border: none;
    outline: none;
    cursor:pointer;
    box-shadow: -1px 3px 5px#b4bed6;

    .box-img {
        width: 50%;
        object-fit: cover;
        margin: 0 auto;
    }

    .box-heading {
        margin: 0 auto;
    }

    hr {
        display: none;
    }

    .description {
        display: none;
    }
}