.selectScrn {
    width: 100%;
    height: 100vh;
    background: #F1F3FA;
    display: flex;
    justify-content: center;

    .selectScrn-title {
        margin: 2% auto 0;
        position: absolute;
    }

    .selectScrn-heading {
        margin: 10% auto 0;
        position: absolute;
    }

    .boxes {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}