.lngpckg {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lngpckg label {
    text-align: left;
}

.lngpckg h3 {
    text-align: left;
    margin: 0;
    font-size: 15px;
}

.lngpckg .lngpckg-dropdown {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

.lngpckg .lngpckg-dropdown .lngpckg-dropdown-field {
    width: 30%;
    margin: 0;
}