.firstStartup__invisible {
  display: none;
}

.firstStartup__visible {
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 0%, 0.4);
  z-index: 10;
  display: flex;
  justify-content: center;

  .firstStartup-inner {
    width: 40%;
    height: 60%;
    margin: auto;
    background: #ffffff;
    z-index: 11;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .firstStartup-inner-heading {
      font-size: 25px;
      margin: 20px 0 0 0;
    }
  }
}
