{
  "tabWidth": 2,
  "endOfLine": "auto",
  "trailingComma": "es5",
  "printWidth": 80,
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "importOrder": [
    "^(react|uniqid|i18next|redux|axios|clsx|@testing-library)(.*)$",
    "^@material-ui/core(.*)$",
    "^@material-ui/icons(.*)$",
    "^(.*).jsx$",
    "^(.*).js$",
    "^(.*).(png|jpg|json)$",
    "^(.*).(scss)$",
    ".*"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx"]
}
