$palette: (
    background: (
        dark: "#2A2E36"
    ),
    alternative: (
        dark: "#1C1C1A"
    ),
    form: (
        dark: "#252421"
    ),
    mainText: (
        dark: "#CBCBCB"
    ),
    primary: (
        dark: "#727CF5"
    )
);