@import "colors";

.add-vocab-form {
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding: 50px;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;

  .heading {
    grid-column: 2;
    grid-row: 2;
  }

  .dropdowns {
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    margin: 20px -10px;

    .select-wrapper {
      margin: 0 10px;
      min-width: 200px;
      width: 100%;
    }
  }

  .input-fields {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: column;
  }

  .form-submit {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
