@import "../../../constants";

.direction {
  display: grid;
  height: 100%;
  grid-template-rows: 0.5fr 4fr;
  grid-template-areas:
    "title"
    "boxes";

  @media screen and (min-width: $bp-md) {
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
      "title"
      "boxes"
      "footer";
  }

  .box-title {
    grid-area: title;
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 16px;
    align-self: flex-end;

    @media screen and (min-width: $bp-md) {
      margin: 50px 0;
      font-size: 24px;
    }
  }

  .box-wrapper {
    grid-area: boxes;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;

    @media screen and (min-width: $bp-md) {
      flex-direction: row;
    }
  }
}
