@import "../../../colors";

.select-input-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;

  &.select-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .select-label {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 13px;
    color: $color-main-text-light;
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transform: translateY(-50%);

    &.flow {
      top: 15px;
      left: 0;
      font-size: 11px;
      color: $color-primary-dark;
      transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }
  }

  .react-select {
    display: flex;
    width: 100%;

    &__control {
      align-items: flex-end;
      width: 100%;
      background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 96%,
      $color-primary 4%);
      background-repeat: no-repeat;
      background-position: -9999px 0;
      background-size: 100% 100%;
      border: unset;
      border-bottom: 1px solid $color-alternative;
      border-radius: 0;
      transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);

      &--is-focused {
        background: linear-gradient(to bottom,
        rgba(255, 255, 255, 0) 96%,
        $color-primary 4%);
        background-position: 0 0;
        border-bottom: 1px solid $color-primary;
        box-shadow: none;
      }

      &:hover {
        cursor: pointer;
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color-primary-dark 4%);
        background-position: 0 0;
        border-bottom-color: $color-primary;
        outline: none;
        box-shadow: none;
        transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
      }
    }

    &__indicators {
      align-items: flex-end;

      .react-select {
        &__indicator-separator {
          display: none;
        }
      }

      .react-select {
        &__indicator {
          padding-left: 0;
        }
      }
    }

    &__menu {
      text-align: left;
    }
  }

  .react-select {
    &__value-container {
      padding-left: 0;
    }
  }

  .react-select {
    &__single-value {
      width: 100%;
      padding-bottom: 8px;
      margin-left: 0;
      font-size: 13px;
      text-align: left;
    }
  }

  .react-select {
    &__option {
      text-align: left;

      &--is-selected {
        background-color: $color-primary;
      }

      &--is-focused {
        color: $color-white;
        background-color: $color-primary;
        opacity: 0.5;
      }
    }
  }
}

.select-create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  font-size: 13px;
  color: $color-primary;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $color-white;
  border: 0;
  border-top: 1px solid $color-background-muted;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: none;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }
}

.custom-option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .custom-option-wrapper-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .postfix {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-left: auto;
    font-size: 20px;
  }
}
