@import "../../colors";

.language-package-form {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    text-align: left;
  }

  h3 {
    text-align: left;
    margin: 0;
    font-size: 15px;
  }

  .dropdown {
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    margin: 0 -10px;

    .select-wrapper {
      display: flex;
      width: 100%;
      margin: 0 10px;

      .language-select-option {
        display: flex;
        justify-content: space-between;
      }

      .flag {
        width: 20px;
      }
    }
  }
}
