@import "../../colors";
@import "../../constants";

.language-package-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  height: 75%;

  label {
    text-align: left;
  }

  h3 {
    margin: 0;
    font-size: 15px;
    text-align: left;
  }

  .dropdown {
    z-index: 4;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-md) {
      flex-direction: row;
      justify-content: space-between;
      height: 50px;
      margin: 0 -10px;
    }

    .select-wrapper {
      width: 100%;

      @media screen and (min-width: $bp-md) {
        margin: 0 10px;
      }
    }
  }
}
