@import "../../../colors";

.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  max-width: 500px;
  background-color: $color-background-muted;
  margin: 50px 0;

  .wrapper {
    height: 100%;
    max-width: 500px;
    background-color: $color-green;
    transition: width 1s ease-in-out;
    display: flex;
    width: 0%;

    .percentage {
      position: absolute;
      font-size: 13px;
      line-height: 13px;
      color: $color-main-text;
      font-weight: bold;
      left: 50%;
      transform: translateX(-50%);
      align-self: center;
    }
  }

  .bottom-text {
    font-size: 13px;
    line-height: 13px;
    color: $color-main-text;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    letter-spacing: 1px;
  }
}
