@import '../../../lib.scss';

.unauthenticated-container {
  @include safe_are_padding();
  background-image: linear-gradient(to top right, #2e5695, #f7d0fb);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  position: relative;

  .language-selector-wrapper {
    position: absolute;
    top: calc(10px + var(--safe-area-inset-top));
    right: 10px;

    .flag {
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .select-language-modal-inner {
    margin: 20px 0 30px;
    width: 250px;
    align-self: center;
  }

  .select-language-modal-close {
    align-self: center;
  }
}
