.unauthenticated-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(to top right, #60a5fa, #f9a8d4);

  .language-selector-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .select-language-modal-inner {
    align-self: center;
    width: 250px;
    margin: 20px 0 30px;
  }

  .select-language-modal-close {
    align-self: center;
  }
}
