@import "../../../colors";

.password-complexity-indicator {
  margin-top: 12px;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: #eee;

  .bar {
    border-radius: 3px;
    transition: all 0.25s ease-in;
    width: 0%;
    height: 6px;

    &.complexity-0,
    &.complexity-1,
    &.complexity-2 {
      background-color: $color-red;
    }

    &.complexity-3 {
      background-color: $color-yellow;
    }

    &.complexity-4,
    &.complexity-5 {
      background-color: $color-green;
    }
  }
}
