@import "../../colors";


.vocab-form {
  grid-area: main;
  width: 100%;
  max-width: 700px;
  height: 75%;
  padding: 50px;
  overflow-y: auto;

  .heading {
    grid-row: 2;
    grid-column: 2;
  }

  .dropdowns {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 20px -10px;

    .select-wrapper {
      width: 100%;
      min-width: 200px;
      margin: 0 10px;
    }
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    grid-row: 4;
    grid-column: 2;

    .submit-btn {
      grid-row: 5;
      grid-column: 2;
      width: 150px;
      height: 35px;
      margin: 0 auto;
      background: $color-primary;
      box-shadow: -1px 3px 5px $color-alternative;
    }
  }

  .form-submit {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
