@import "../../../colors";

.text-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  margin: 5px 0;

  .text-input {
    display: block;
    width: 100%;
    height: 32px;
    padding-top: 10px;
    color: $color-main-text;

    text-align: left;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - 2px), $color-primary 2px);
    background-repeat: no-repeat;
    background-position: -9999px 0;
    background-size: 100% 100%;
    border: unset;
    border-bottom: solid 1px $color-alternative;
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), background 0s, color 0s;

    &:focus {
      background-position: 0 0;
      border-bottom-color: $color-primary;
      outline: none;
      box-shadow: none;
    }
    
    &:-webkit-autofill {
      /*
       * 'background-clip' to make the background transparent.
       * If a solid color is required use 'box-shadow'.
      **/
      background-clip: text !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: $color-main-text;
      caret-color: $color-main-text;
    }
  
    &::placeholder {
      transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }

    &:focus::placeholder,
    &:valid::placeholder {
      font-size: 11px;
      color: $color-primary;
      visibility: visible !important;
      transform: translateY(-20px);
    }

    &:hover {
      background-position: 0 0;
      border-bottom-color: $color-primary;
      outline: none;
      box-shadow: none;
    }
  }

  .text-input-label {
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 13px;
    color: $color-main-text-light;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);

    &.flow {
      top: 6px;
      font-size: 11px;
      color: $color-primary;
      transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }
  }

  .text-input-error {
    position: absolute;
    bottom: -13px;
    font-size: 11px;
    color: $color-red;
    text-align: left;
  }

  .text-input-indicator {
    position: absolute;
    bottom: -13px;
    font-size: 11px;
    color: $color-primary;
  }

  .show-password {
    position: absolute;
    color: $color-primary-light;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-primary;
      cursor: pointer;
      transition: color 0.2s ease-in-out;
    }
  }
}
