.start {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .start-heading {
        margin: auto;
        text-transform: uppercase;

        h1 {
            margin-bottom: 10px;
        }
    }
}