@import "../../colors";

.switch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h3 {
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.switch-wrapper-inner {
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-background;
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color-white;
    transition: 0.4s;
  }

  input {
    &:checked + .slider {
      background-color: $color-primary;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $color-primary;
    }

    &:checked + .slider::before {
      transform: translateX(26px);
    }
  }

  .label-left {
    margin-right: 20px;
  }

  .label-right {
    margin-left: 20px;
  }
}
