.package-preview {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .update-fields {
    height: 80%;
    width: 100%;
    overflow-y: auto;

    .dropdown {
      height: 50px;
      display: flex;
      justify-content: space-between;
      z-index: 4;

      .select-wrapper {
        width: 49%;
        display: flex;
      }
    }
  }

  .submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
