@import "../../../colors";

.indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;

  .indicator-dot {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: $color-grey;
    border-radius: 100%;

    &.active {
      background: $color-primary;
    }
  }
}
