@import "../../colors.scss";

.email-verify {
  max-width: 250px;

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  .dont-received {
    margin-top: 10px;

    span {
      color: $color-primary;
      cursor: pointer;
    }

    span:hover {
      text-decoration: underline;
    }
  }
}
