@import "../colors";

.lngpckg {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    text-align: left;
  }

  h3 {
    text-align: left;
    margin: 0;
    font-size: 15px;
  }

  .lngpckg-dropdown {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 4;

    .lngpckg-dropdown-field {
      width: 30%;
      margin: 0;
    }
  }

  .lngpckg-submit-btn {
    width: 150px;
    height: 35px;
    background: #727cf5;
    border-radius: 5px;
    border: unset;
    outline: none;
    box-shadow: -1px 3px 5px#b4bed6;
    margin: 0 auto;
    cursor: pointer;
    color: $color-white;
    font-size: 15px;

    &:hover {
      background: #7f8aff;
    }
  }
}
