.group-preview {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .update-fields {
    height: 80%;
    overflow-y: auto;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
