@import "../../../colors";
@import "../../../constants";

.query-wrapper {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "progress"
    "content";

  @media screen and (min-width: $bp-md) {
    height: 100%;
    grid-template-rows: 15% 75%;
  }

  .progress {
    grid-area: progress;
    display: flex;
    justify-self: center;
    justify-items: flex-end;
    align-self: center;
    justify-content: center;

    max-width: 600px;
    width: 100%;

    @media screen and (min-width: $bp-md) {
      min-width: 450px;
    }
  }

  .content {
    width: 100%;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
