@import "../../../colors";

.query-wrapper {
  display: grid;
  grid-template-areas:
    "progress"
    "content"
    "footer";
  grid-template-rows: 15% 70% 15%;
  height: 100%;

  .progress {
    display: flex;
    grid-area: progress;
    align-self: center;
    justify-content: center;
    justify-self: center;
    width: 50%;
    min-width: 450px;
    max-width: 600px;
    margin: 50px 0;
  }

  .content {
    display: flex;
    grid-area: content;
    align-items: center;
    justify-content: center;
  }

  .footer {
    display: flex;
    grid-area: footer;
    align-self: center;
    justify-self: center;
    margin: 50px 0;
  }

  .card-button {
    min-width: 180px;
    margin: 0 10px;
  }

  .foreign-word-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .translated-word-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
