@import "../../../colors";
@import "../../../constants";

.group-selection {
  .group-select-wrapper {

    padding: 50px 12px;

    @media screen and (min-width: $bp-md) {
      padding: 50px;
    }

    .table-wrapper {
      overflow: scroll;
        
      @media screen and (min-width: $bp-md) {
        overflow: hidden;
      }
    }
  }

  .button-wrapper {
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: $bp-md) {
      width: 30%;
    }
  }
}
