.card {
  width: 150px;
  height: 190px;
  margin: 10px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 150px;
  }

  .backdrop {
    transition: border-radius 0.125s ease-in-out, top 0.125s ease-in-out;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 150px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .description {
      display: none;
      color: #888;
      margin-top: 5px;
    }
  }

  &:hover .backdrop {
    top: 0;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 100%);

    .description {
      display: block;
    }
  }
}
