@import "../../colors";

.about {
  display: flex;
  grid-area: main;
  justify-content: center;
  width: 100%;
  text-align: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 40px 0;

    h1 {
      margin-bottom: 30px;
    }

    .dependency-card {
      padding: 10px;
      margin: 6px;
      color: #fff;
      text-decoration: none;
      background-color: $color-background-inverse;
      border-radius: 8px;
      transition: all 0.125s ease-in-out;

      &:hover {
        background-color: #{$color-background-inverse + "99"};
      }
    }
  }
}
