@import "../../colors";
@import "../../constants";

.about {
  display: flex;
  grid-area: main;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 80px 0;

    @media screen and (min-width: $bp-md) {
      width: 90%;
    }

    h1 {
      margin-bottom: 30px;
    }

    .dependency-card {
      padding: 10px;
      margin: 6px;
      color: #fff;
      text-decoration: none;
      background-color: $color-background-inverse;
      border-radius: 8px;
      transition: all 0.125s ease-in-out;

      &:hover {
        background-color: #{$color-background-inverse + "99"};
      }
    }
  }
}
