.nav-button {
  background-color: #313A46;
  border: none;
  outline: none;
  width: 100%;
  height: 55px;
}

.nav-button h5{
  color: #8790A3;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0;
}

.nav-button:hover {
  background-color: #50535f;
}
