@import "../../colors";
@import "../../constants";

.register-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: 80px auto;
  border-radius: 10px;
  padding: 40px 100px;
  background: $color-background;
  box-shadow: -1px 3px 5px $color-box-shadow-light;

  @media screen and (min-width: $bp-md) {
    max-width: 300px;
    max-height: 750px;
    padding: 40px 100px;
    margin: auto;
  }

  .back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $color-primary;

    &:hover {
      color: $color-primary-dark;
      cursor: pointer;
    }
  }

  .register-form-header {
    width: 90%;
    height: 33%;
    margin: 40px auto 0;

    @media screen and (min-width: $bp-md) {
      width: 100%;
      margin: 0 auto;
    }

    .register-form-header-logo {
      width: 100px;
      height: auto;
      margin-bottom: 10px;
    }

    .register-form-header-heading {
      text-transform: uppercase;
    }
  }

  .register-form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    min-width: 250px;
    margin: 30px auto;

    @media screen and (min-width: $bp-md) {
      width: 100%;
    }

    .form-error {
      padding-top: 10px;
      font-size: 11px;
      color: $color-red;
      text-align: left;
    }

    .checkbox-wrapper {
      margin: 3px 0;
      font-size: 14px;
      text-align: left;

      .label {
        margin-left: 5px;

        a {
          color: $color-primary;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .register-form-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto 20px;

    @media screen and (min-width: $bp-md) {
      width: 100%;
    }

    .register-form-submit-register {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 12px;
      font-size: 14px;

      .register-form-submit-register-link {
        margin-left: 5px;
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}
