@import "../../colors";

.modal {
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 0%, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;

  .inner {
    position: relative;
    width: 60vw;
    height: 60vh;
    margin: auto;
    background: #fff;
    z-index: 11;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow-y: auto;

    &.small {
      width: 40vw;
      max-width: 500px;
      height: auto;
    }

    &.large {
      width: 80vw;
      height: 80vh;
    }

    &.maxed {
      width: 100%;
      height: 100vh;
    }

    .close {
      color: $color-primary;
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 100%;
      padding: 10px;

      &:hover {
        color: $color-primary-dark;
        cursor: pointer;
      }
    }

    .heading {
      text-transform: uppercase;
      font-size: 25px;
      margin: 20px 0 0;
    }
  }
}
