@import "../../colors.scss";

.login-form {
  max-width: 450px;
  max-height: 550px;

  margin: auto;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  padding: 40px 100px;
  background: $color-white;
  box-shadow: -1px 3px 5px $color-mainText;

  .header {
    width: 100%;
    height: 33%;

    .header-logo {
      width: 100px;
      height: auto;
      margin-bottom: 10px;
    }

    .login-form-header-heading {
      text-transform: uppercase;
    }
  }

  .form-input {
    width: 100%;
    min-width: 200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .error-msg__inactive {
      display: none;
    }
    .error-msg__active {
      font-size: 15px;
      color: red;
    }
  }

  .login-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    .submit-register {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 14px;
      margin-top: 12px;

      .submit-register-link {
        color: $color-primary;

        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}
