@import "../../colors";

.profile-screen {
  max-width: 600px;
  padding: 50px;
  margin: 0 auto;

  .profile-avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid $color-alternative;
    border-radius: 100%;

    .profile-avatar {
      width: 70px;
      height: 70px;
    }
  }

  .profile-username {
    margin: 20px 0;
  }

  .account-settings-header {
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  .account-settings {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-red;
    border-radius: 15px;

    .account-settings-fields {
      display: flex;
      padding: 15px;

      &.border-bottom {
        border-bottom: 1px solid $color-background-muted;
      }

      .description-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 65%;
        height: 60%;
        margin: auto 0;
        margin-left: 10px;

        h3 {
          font-size: 15px;
          text-align: left;
        }

        p {
          font-size: 11px;
          text-align: left;
        }
      }
    }

    .button-wrapper {
      width: 35%;
    }
  }
}
