@import "../../colors";

.profile-screen {
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding: 50px;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;

  .profile-avatar-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid $color-alternative;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .profile-avatar {
      width: 70px;
      height: 70px;
      vertical-align: center;
      margin: auto;
    }

  }

  .profile-username {
    margin: 20px 0;
  }

  .account-settings-header {
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    margin: 15px 0 5px;
  }

  .account-settings {
    height: 210px;
    width: 100%;
    border: 1px solid $color-red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .account-settings-fields {
      width: 100%;
      height: calc(100% / 0.3);
      display: flex;
      justify-content: space-between;

      &.border-bottom {
        border-bottom: 1px solid $color-background-muted;
      }

      .description-wrapper {
        width: 65%;
        height: 60%;
        margin: auto 0;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
          font-size: 15px;
          text-align: left;
        }

        p {
          font-size: 11px;
          text-align: left;
        }
      }
    }

    .button-wrapper {
      width: 35%;
      height: 60%;
      margin: auto 0;
      margin-right: 10px;
    }

      
  }
}

.deletion-modal {
  width: 40%;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


