:root {
  --color-background-inverse: #2a2e36;
  --color-background-muted: #eceeee;
  --color-background: #121212;
  --color-alternative: #1c1c1a;
  --color-form: #252421;
  --color-box-shadow: #212121;
  --color-main-text-light: #383838;

  --color-main-text: #212121;
  --color-main-text-90: #363746;
  --color-main-text-80: #4d4d5b;
  --color-main-text-70: #63636f;
  --color-main-text-60: #797984;
  --color-main-text-50: #8f8f98;
  --color-main-text-40: #a6a6ad;
  --color-main-text-30: #bbbbc1;
  --color-main-text-20: #d2d2d6;
  --color-main-text-10: #e8e8ea;

  --color-main-text-inverse: #fff;

  --color-primary-light: #bec2f3;

  --color-primary: #727cf5;
  --color-primary-90: #7f88f5;
  --color-primary-80: #8e96f7;
  --color-primary-70: #9ca3f7;
  --color-primary-60: #aab0f9;
  --color-primary-50: #b8bdf9;
  --color-primary-40: #c6cafb;
  --color-primary-30: #d4d7fb;
  --color-primary-20: #e2e4fd;
  --color-primary-10: #f0f1fd;

  --color-primary-dark: #4c51ec;
  --color-primary-dark-90: #6469ee;
  --color-primary-dark-80: #767af0;
  --color-primary-dark-70: #868af2;
  --color-primary-dark-60: #989bf4;
  --color-primary-dark-50: #a9abf5;
  --color-primary-dark-40: #babcf7;
  --color-primary-dark-30: #cbccf9;
  --color-primary-dark-20: #dcddfb;
  --color-primary-dark-10: #edeefd;

  --color-white: #fff;
  --color-grey: #cbcbcb;
  --color-red-light: #f9c5cc;
  --color-red: #ff586e;
  --color-red-dark: #fd334e;
  --color-yellow: #ffeb3b;
  --color-yellow-dark: #c8b900;
  --color-green-light: #c8f1e5;
  --color-green: #0acf97;
  --color-green-dark: #06b483;
}
