.flag {
  display: flex;
  justify-content: center;

  span {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("flags.png");

    // box shadow color
    color: #eee;
  }
}
