@import "../../../colors";

.root {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 65px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "topnav topnav"
    "sidenav main";
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  .server-error-modal-inner {
    padding: 30px 0;
  }

  .content {
    overflow-y: auto;
  }
}
