.start {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .start-heading {
    margin: auto;
    text-transform: uppercase;

    h1 {
      margin-bottom: 10px;
    }
  }
}
