@import "../../colors";

.submit-dialog {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  .description {
    padding: 20px 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
