@import "../../colors";

.submit-dialog {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;

  .description {
    padding: 20px 0;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
