.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
}
.popup_inner {
  width: 60%;
  height: 70%;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #F1F3FA;;
  justify-content: center;
  z-index: 10;
  text-align: center;
}

.popup_inner .text_field {
    width: 70%;
    height: 100%;
    margin: auto;
}