@import "../../colors";

.group-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  height: 75%;

  label {
    text-align: left;
  }

  h3 {
    margin: 0;
    font-size: 15px;
    text-align: left;
  }

  .dropdown {
    z-index: 4;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0 -10px;

    .select-wrapper {
      display: flex;
      width: 100%;
      margin: 0 10px;
    }
  }
}
