@import "../../colors";

.card {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 170px;
  margin: 8px;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 130px;
  }

  .backdrop {
    position: absolute;
    top: 130px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: $color-background-inverse;
    transition: border-radius 0.125s ease-in-out, top 0.125s ease-in-out;

    .name {
      font-size: 14px;
    }

    .description {
      display: none;
      margin-top: 5px;
      font-size: 12px;
      color: #bbb;
    }
  }

  .card-image {
    width: 128px;
  }

  .card-image-bp {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .backdrop {
      top: 0;

      background: $color-background-inverse;

      .description {
        display: block;
      }
    }
  }
}
