@import "../../../colors";

.server-valid-indicator {
  margin-top: -5px;
  font-size: 11px;

  .error {
    height: 29px;
    text-align: right;
    color: $color-red-dark;
  }

  .success {
    height: 29px;
    text-align: right;
    color: $color-green-dark;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg {
      margin-left: 5px;
    }
  }
}
