@import "../../../colors";

.all-packages-wrapper {
  .action-col-btn {
    margin-right: 8px;
  }

  .header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .back {
      position: absolute;
      left: 0;
      top: 0;

      &:hover {
        cursor: pointer;
        color: $color-primary-dark;
      }
    }

    .add {
      position: absolute;
      right: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;
    }

    .import {
      position: absolute;
      right: 40px;
      align-self: center;
      padding: 5px;
      border-radius: 100%;
    }
  }

  .flag-cell-wrapper {
    display: flex;
    align-items: center;
  }

  .flag {
    margin-right: 10px;
  }
}
