.addVocab-form {
    width: 50%;
    height: 60%;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    h1 {
        margin: 0 auto;
    }

    .addVocab-dropdowns {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        z-index: 4;

        .addVocab-dropdowns-field {
            width: 30%;
        }
    }

    .addVocab-form-submitBtn {
        width: 150px;
        height: 35px;
        background: #727CF5;
        border-radius: 5px;
        border: none;
        outline: none;
        box-shadow: -1px 3px 5px#b4bed6;
        margin: 0 auto;
        cursor: pointer;
        color: #ffffff;
        font-size: 15px;

        &:hover {
        background: #7f8aff;
        }
    }
}