.admin {
  width: 100%;
  height: 100%;
  grid-area: main;

  .invite-codes {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .invite-code-controls {
      .add-btn {
        margin: 20px 0;
      }
    }

    .invite-code-container {
      width: 100%;
      max-width: 1700px;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 10px;

      @media (max-width: 1600px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }

      @media (max-width: 1400px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 600px;
      }

      @media (max-width: 800px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        max-width: 300px;
      }
    }
  }

  .center-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
