.admin {
  width: 100%;
  height: 100%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .invite-code-field {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 40px;
  }
}
