@import "../../colors";

.all-groups-wrapper {
  padding: 50px;

  .header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .back {
      position: absolute;
      left: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
        color: $color-primary-dark;
      }
    }

    .add {
      position: absolute;
      right: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
        color: $color-primary-dark;
      }
    }
  }
}
