@import "../../colors";

/* stylelint-disable selector-class-pattern */
.CookieConsent {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  color: $color-main-text-inverse;
  background: $color-background-inverse;

  div {
    margin: auto 0;
  }

  button {
    flex: 0 0 auto;
    padding: 5px 10px;
    margin-left: 15px;
    color: $color-main-text-inverse;
    cursor: pointer;
    background: $color-primary;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .cookie-consent-link {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
/* stylelint-enable selector-class-pattern */
