@import "../../colors";

.table {
  width: 100%;

  .th {
    padding: 5px;
    font-weight: bold;
    color: $color-primary-dark;
    border-bottom: 1px solid $color-primary-dark;
    text-align: left;
  }

  .td {
    padding: 5px;
    text-align: left;
  }
}
