@import "../../colors";
@import "../../constants";

.table {
  width: 100%;
  border-spacing: 0;
  margin: 20px 0;
  padding-top: 40px;

  @media screen and (min-width: $bp-md) {
    padding-top: 0;
  }

  .table-striped {
    tr:nth-child(even) {
      background-color: $color-background-muted;
    }
  }

  .th {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid $color-main-text;

    .header-text {
      user-select: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      line-height: 24px;
    }

    .sort-placeholder {
      width: 24px;
    }
  }

  .td {
    padding: 5px;
    text-align: left;
    height: 30px;

    a {
      font-weight: bold;
      text-decoration: none;
      color: $color-primary;

      &:hover {
        color: $color-primary-dark;
      }
    }

    .action-col {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.pagination {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $bp-md) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 10px 0;
  }

  .pagination-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pagination-button {
    padding: 0;
    margin-right: 5px;
  }

  .pagination-text {
    font-size: 13px;
    padding: 0;
    margin-right: 5px;
  }
}
