@import "../../colors";

.tooltip {
  max-width: 30%;
  text-align: left;
  word-wrap: normal;
  overflow-wrap: break-word;
  white-space: break-spaces;

  &.tooltip-default {
    color: $color-main-text-inverse !important;
    background-color: $color-background-inverse !important;

    &::after {
      border-top-color: $color-background-inverse !important;
      border-bottom-color: $color-background-inverse !important;
    }
  }

  &.tooltip-info {
    background-color: $color-primary-light;

    &::after {
      border-top-color: $color-primary-light !important;
      border-bottom-color: $color-primary-light !important;
    }
  }

  &.tooltip-green {
    color: $color-main-text-inverse !important;
    background-color: $color-green;

    &::after {
      border-top-color: $color-green !important;
      border-bottom-color: $color-green !important;
    }
  }

  &.tooltip-red {
    color: $color-main-text-inverse !important;
    background-color: $color-red;

    &::after {
      border-top-color: $color-red !important;
      border-bottom-color: $color-red !important;
    }
  }
}
