@import "../../colors";
@import "../../constants";

.snackbar {
  position: absolute;
  bottom: 15px;
  opacity: 0;
  visibility: hidden;
  right: 15px;
  display: flex;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: 300px;
  z-index: 10000;
  transition: all 0.4s ease-in;
  @media screen and (min-width: $bp-md) {
    left: auto;
    right: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  &.snackbar-success {
    background-color: $color-green-light;
    color: $color-green-dark;
  }

  &.snackbar-error {
    background-color: $color-red-light;
    color: $color-red-dark;
  }

  &.snackbar-info {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }

  .snackbar-text {
    font-size: 16px;
    font-weight: 400;
  }

  &.show {
    user-select: none;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in;
  }
}
