@import "../../../colors";
@import "../../../constants";

.all-vocabs-wrapper {
  .header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .back {
      position: absolute;
      left: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        color: $color-primary-dark;
        cursor: pointer;
      }
    }

    .add {
      position: absolute;
      right: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        color: $color-primary-dark;
        cursor: pointer;
      }
    }
  }

  .table-wrapper {
    overflow: scroll;

    @media screen and (min-width: $bp-md) {
      overflow: hidden;
    }
  }
}
