.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  height: 40%;
  padding: 150px;
  margin: 0 auto;

  .percentage-text {
    margin: 15px 0;
  }
}
