@import "../../../constants";

.end-screen {
  max-width: 600px;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (min-width: $bp-md) {
    height: 40%;
    height: 100%;
  }

  .percentage-text {
    margin: 15px 0;
    font-size: 16px;
  }
}
