@import "../../../constants";

.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;

  @media screen and (min-width: $bp-md) {
    height: 100%;
  }

  .end-screen-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
  }

  .percentage-text {
    margin: 15px 0;
    font-size: 16px;
  }
}
