$color-background: #2a2e36;
$color-background-muted: #eceeee;
$color-alternative: #1c1c1a;
$color-form: #252421;
$color-black: #000;
$color-main-text: #cbcbcb;
$color-primary: #727cf5;
$color-primary-dark: #4c51ec;
$color-white: #fff;
$color-red: #ff586e;
$color-red-dark: #fd334e;
$color-green: #0acf97;
$color-green-dark: #06b483;
