$color-background-inverse: var(--color-background-inverse);
$color-background-muted: var(--color-background-muted);
$color-background: var(--color-background);
$color-alternative: var(--color-alternative);
$color-form: var(--color-form);
$color-box-shadow: var(--color-box-shadow);
$color-box-shadow-light: var(--color-box-shadow-light);
$color-main-text-light: var(--color-main-text-light);

$color-main-text: var(--color-main-text);
$color-main-text-90: var(--color-main-text-90);
$color-main-text-80: var(--color-main-text-80);
$color-main-text-70: var(--color-main-text-70);
$color-main-text-60: var(--color-main-text-60);
$color-main-text-50: var(--color-main-text-50);
$color-main-text-40: var(--color-main-text-40);
$color-main-text-30: var(--color-main-text-30);
$color-main-text-20: var(--color-main-text-20);
$color-main-text-10: var(--color-main-text-10);

$color-main-text-inverse: var(--color-main-text-inverse);

$color-primary-light: var(--color-primary-light);

$color-primary: var(--color-primary);
$color-primary-90: var(--color-primary-90);
$color-primary-80: var(--color-primary-80);
$color-primary-70: var(--color-primary-70);
$color-primary-60: var(--color-primary-60);
$color-primary-50: var(--color-primary-50);
$color-primary-40: var(--color-primary-40);
$color-primary-30: var(--color-primary-30);
$color-primary-20: var(--color-primary-20);
$color-primary-10: var(--color-primary-10);

$color-primary-dark: var(--color-primary-dark);
$color-primary-dark-90: var(--color-primary-dark-90);
$color-primary-dark-80: var(--color-primary-dark-80);
$color-primary-dark-70: var(--color-primary-dark-70);
$color-primary-dark-60: var(--color-primary-dark-60);
$color-primary-dark-50: var(--color-primary-dark-50);
$color-primary-dark-40: var(--color-primary-dark-40);
$color-primary-dark-30: var(--color-primary-dark-30);
$color-primary-dark-20: var(--color-primary-dark-20);
$color-primary-dark-10: var(--color-primary-dark-10);

$color-white: var(--color-white);
$color-dark: var(--color-dark);
$color-grey: var(--color-grey);
$color-red-light: var(--color-red-light);
$color-red: var(--color-red);
$color-red-dark: var(--color-red-dark);
$color-yellow: var(--color-yellow);
$color-yellow-dark: var(--color-yellow-dark);
$color-green-light: var(--color-green-light);
$color-green: var(--color-green);
$color-green-dark: var(--color-green-dark);
