@import "../../../colors";

.invite-code-valid-indicator {
  margin-top: -5px;
  font-size: 11px;

  .valid {
    height: 29px;
    color: $color-green-dark;
    text-align: right;
  }

  .error {
    height: 29px;
    color: $color-red-dark;
    text-align: right;
  }
}
