@import "../../constants";

.custom-learning {
  grid-area: main;
  
  .custom-learning-wrapper {
    padding: 50px 12px;

    @media screen and (min-width: $bp-md) {
      padding: 50px;
    }

    .custom-learning-switch-wrapper {
      width: 100%;

      @media screen and (min-width: $bp-md) {
        display: flex;
        justify-content: flex-end;
      }
    }

    .table-wrapper {
      overflow: scroll;
        
      @media screen and (min-width: $bp-md) {
        overflow: hidden;
      }
    }
  }
}
