@import "../../colors";
@import "../../constants";

.mobile-top-nav {
  @media screen and (min-width: $bp-md) {
    display: none;
  }
  width: 100%;
  height: 65px;
  position: fixed;
  display: flex;
  overflow: hidden;
  top: 0;
  z-index: 50;

  &.transparent {
    background: transparent;
  }

  .mobile-top-nav-inner {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    a {
      text-decoration: none;
    }

    .link-wrapper {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        width: 36px;
      }

      p {
        font-weight: 300;
        padding-left: 12px;
        color: $color-main-text;
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    .hamburger-menu {
      width: 44px;
    }
  }
}

.mobile-top-nav-menu {
  @media screen and (min-width: $bp-md) {
    display: none;
  }

  width: 100%;
  height: 100%;
  background: $color-background;
  display: none;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -10;
  align-items: center;
  transition: all 0.7s ease-in-out 0s;

  &.active {
    opacity: 100;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-list {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;

    .nav-list-item: {
      text-align: center;
      margin: 8px 0;
    }
  }

  .nav-legal {
    color: $color-white;
    margin: 10px auto;
    font-size: 15px;
    opacity: 0;

    .nav-legal-wrapper {
      display: flex;
      align-items: center;
      margin: 5px 0;

      a {
        margin-left: 5px;
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
