@import "../../colors";

.nav {
  width: 200px;
  height: calc(100vh - 20px);
  background: $color-background;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 40px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      color: $color-main-text;
      text-transform: uppercase;
      font-size: 17px;
      margin: auto;
    }
  }

  .button-list {
    grid-column: 1;
    grid-row: 2;
    margin-top: 40px;
  }

  .settings {
    background-color: $color-background;
    border: unset;
    outline: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    grid-column: 1;
    grid-row: 3;

    .settings-text {
      color: $color-main-text;
      text-transform: uppercase;
      font-size: 17px;
      margin: 0;
    }
  }
}
