@import "../../colors";

.nav {
  z-index: 100;
  display: flex;
  flex-direction: column;
  grid-area: sidenav;
  justify-content: space-between;
  width: 65px;
  height: calc(100vh - 50px);
  background: $color-background-inverse;
  transition: width 0.2s ease-in;

  &:hover {
    width: 200px;
    transition: width 0.2s ease-in;

    .nav-legal {
      opacity: 100;
      transition: all 0.6s ease-in;
    }
  }

  .button-list {
    grid-row: 2;
    grid-column: 1;
    margin-top: 40px;
  }

  .nav-legal {
    margin: 10px auto;
    font-size: 15px;
    color: $color-white;
    opacity: 0;

    .nav-legal-wrapper {
      display: flex;
      align-items: center;
      margin: 5px 0;

      a {
        margin-left: 5px;
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
