.nav {
  width: 200px;
  height: 100vh;
  background: #313A46;
  position: absolute;
  z-index: 4;

  ul {
    margin: 0;
    padding: 0;
  }

  .nav-title {
    width: 200px;
    height: 35px;
    float: left;
    margin: 12px 0 60px;

    h1{
      color: #FFFFFF;
      text-transform: uppercase;
      text-align: center;
      font-size: 17px;
    }
  }

}

.nav-button-settings {
  background-color: #242424;
  border: none;
  outline: none;
  width: 100%;
  height: 55px;
  position:absolute;
  bottom: 0;
  left: 0;

  &:hover {
    background-color: #2e2e2e;
  }

  h5{
    color: #8790A3;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
  }
}



