@import "../../colors";

.nav-button-wrapper {
  text-decoration: none;
  outline: none;
}

.nav-button {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: $color-white !important;
  text-transform: uppercase;
  background-color: $color-background-inverse;
  border: unset;
  transition: all 0.2s ease-in;

  .button-name {
    position: absolute;
    left: 60px;
    visibility: hidden;
    opacity: 0;
  }

  .button-icon {
    position: absolute;
    left: 20px;
    transition: all 0.2s ease-in;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-primary;
  }

  &:focus {
    outline: none;
  }
}

.nav-button-active {
  .nav-button {
    background-color: $color-primary;
  }
}

.nav:hover .button-name {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}
