@import "../../colors";

.top-nav {
  background: $color-background-inverse;
  display: grid;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  height: 100%;
  width: 100%;
  grid-area: topnav;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px;
  grid-template-areas:
    "topnav topnav"
    "sidenav main";

  .nav-wrapper {
    display: flex;
    height: 100%;
  }

  .update {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;

    &:hover {
      background-color: $color-primary;
      cursor: pointer;
    }
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-main-text-inverse;
    cursor: pointer;
    height: 100%;
    position: relative;
    font-size: 13px;
    width: 200px;

    &:hover {
      background-color: $color-primary;

      .menu {
        transition: all 0.2s ease-in;
        right: 0;
        height: auto;
      }
    }

    .icon {
      margin-right: 5px;
    }
  }

  .title {
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    .brand {
      height: 35px;
    }

    .text {
      color: $color-main-text-inverse;
      text-transform: uppercase;
      font-size: 17px;
      margin: auto 20px;
    }
  }
}

.menu {
  width: 200px;
  height: 200px;
  top: 50px;
  right: -200px;
  background: $color-background-inverse;
  position: absolute;
  padding: 0;
  transition: all 0.2s ease-in;
  border-bottom-left-radius: 20px;
  overflow: hidden;

  .menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .menu-list-item {
      list-style: none;

      .menu-list-item-btn {
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 0;
        line-height: 22px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: $color-white;
        border-radius: 0;

        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
}
