@import "../../colors";

.top-nav {
  background: $color-background;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  height: 100%;
  width: 100%;
  grid-area: topnav;

  .user {
    color: $color-main-text;
    cursor: pointer;
    padding: 9px 30px;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.menu-active {
  width: 200px;
  height: 150px;
  top: 40px;
  background: $color-background;
  position: absolute;
  padding: 0;

  .menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .menu-list-item {
      list-style: none;

      .menu-list-item-btn {
        padding: 10px 0;
        width: 100%;
        color: $color-white;

        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
}

.menu-inactive {
  display: none;
}
