@import "../../colors";

.top-nav {
  z-index: 5;
  display: grid;
  grid-area: topnav;
  grid-template-areas:
    "topnav topnav"
    "sidenav main";
  grid-template-rows: 50px;
  grid-template-columns: 200px auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: $color-background-inverse;

  .nav-wrapper {
    display: flex;
    height: 100%;
  }

  .update {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;

    &:hover {
      cursor: pointer;
      background-color: $color-primary;
    }
  }

  .user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    font-size: 13px;
    color: $color-main-text-inverse;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;

      .menu {
        right: 0;
        height: auto;
        transition: all 0.2s ease-in;
      }
    }

    .icon {
      margin-right: 5px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;

    .brand {
      height: 35px;
    }

    .text {
      margin: auto 20px;
      font-size: 17px;
      color: $color-main-text-inverse;
      text-transform: uppercase;
    }
  }
}

.menu {
  position: absolute;
  top: 50px;
  right: -200px;
  width: 200px;
  height: 200px;
  padding: 0;
  overflow: hidden;
  background: $color-background-inverse;
  border-bottom-left-radius: 20px;
  transition: all 0.2s ease-in;

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .menu-list-item {
      list-style: none;

      .menu-list-item-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 12px 0;
        font-size: 13px;
        line-height: 22px;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;

        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
}
