@import "../../../colors";

.all-groups-wrapper {
  .header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .back {
      position: absolute;
      left: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
        color: $color-primary-dark;
      }
    }

    .add {
      position: absolute;
      right: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
        color: $color-primary-dark;
      }
    }

    .import {
      position: absolute;
      right: 40px;
      align-self: center;
      padding: 5px;
      border-radius: 100%;
    }
  }

  .group-description-cell {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
    @media screen and (min-width: 768px) {
      max-width: 300px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 450px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 600px;
    }
    @media screen and (min-width: 1536px) {
      max-width: 1000px;
    }
  }
}
