@import "../../../colors";
@import "../../../constants";

.all-groups-wrapper {
  .action-col-btn {
    margin-right: 8px;
  }

  .header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .back {
      position: absolute;
      left: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        color: $color-primary-dark;
        cursor: pointer;
      }
    }

    .add {
      position: absolute;
      right: 0;
      align-self: center;
      padding: 5px;
      border-radius: 100%;

      &:hover {
        color: $color-primary-dark;
        cursor: pointer;
      }
    }

    .import {
      position: absolute;
      right: 40px;
      align-self: center;
      padding: 5px;
      border-radius: 100%;
    }
  }

  .table-wrapper {
    overflow: scroll;

    @media screen and (min-width: $bp-md) {
      overflow: hidden;
    }
  }

  .group-description-cell {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (min-width: $bp-md) {
      max-width: 300px;
    }

    @media screen and (min-width: $bp-lg) {
      max-width: 450px;
    }

    @media screen and (min-width: $bp-xl) {
      max-width: 600px;
    }

    @media screen and (min-width: $bp-2xl) {
      max-width: 1000px;
    }
  }
}
