@import "../../../colors";

.text-area-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin: 20px 0;

  .text-area {
    width: 100%;
    display: block;
    border: unset;
    padding: 0;
    border-bottom: solid 1px $color-alternative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) calc(100% - 2px), $color-primary 2px);
    background-position: -9999px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    resize: vertical;
    text-align: left;
    color: $color-main-text;

    &:focus {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      border-bottom-color: $color-primary;
    }

    &::placeholder {
      transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }

    &:focus::placeholder,
    &:valid::placeholder {
      color: $color-primary;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }

    &:hover {
      border-bottom-color: $color-primary;
      box-shadow: none;
      outline: none;
      background-position: 0 0;
    }
  }

  .text-area-label {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 24px;
    font-size: 13px;
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    color: $color-main-text-light;

    &.flow {
      top: -12px;
      font-size: 11px;
      color: $color-primary;
      transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }
  }

  .text-area-error {
    position: absolute;
    text-align: left;
    font-size: 11px;
    color: $color-red;
    bottom: -13px;
  }

  .text-area-indicator {
    position: absolute;
    text-align: left;
    font-size: 11px;
    color: $color-primary;
    bottom: -13px;
  }
}
